@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

:root {
	--border: 1px dashed red;
	--button-background: #105e04;
	--main-background: #252525;
	--secondary-background: #333333;
}

button {
	background-color: var(--button-background);
	color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	font-size: 18px;
	padding: 6px 30px 6px 30px;
	text-align: center;
}

h1 {
	font-size: 48px;
	font-family: 'Playfair Display', serif;
}

h2 {
	font-size: 16px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.image-container {
	height: 75vh;
}

img {
	/* width: 50vw; */
	height: 75vh;
	object-fit: cover;
}

/* Nav bar */

.navbar-container {
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: var(--border);
	background-color: var(--button-background);
}

.nav-buttons-container {
	display: flex;
	gap: 20px;
	border: var(--border);
	margin-right: 50px;
	height: 100%;
}

/* hero section */

.hero-container {
	/* border: var(--border); */
	display: flex;
}

.text-container {
	/* width: 50vw; */

	height: 75vh;
	background-color: var(--main-background);
	color: whitesmoke;
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.hero-text + .info-text {
	text-align: center;
}

.button-container {
	display: flex;
	gap: 15px;
}

li {
	list-style: none;
	padding: 5px;
	/* font-size: 20px; */
	font-weight: 500;
}

/* drawer classes */
/* https://mui.com/material-ui/api/drawer/#css */

.MuiDrawer-paperAnchorLeft {
	background-color: var(--secondary-background);
}

/* menu section */

.menu-container {
	display: flex;
	flex-direction: row-reverse;
	flex: auto;
}

.menu-accordion {
	background-color: var(--button-background);
	border: 1px solid whitesmoke;
	color: whitesmoke;
}

/* catering section */
.catering-container {
	/* border: var(--border); */
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--main-background);
	color: whitesmoke;
	padding-bottom: 50px;
}

.accordion {
	background-color: var(--button-background);
	border: 1px solid whitesmoke;
	color: whitesmoke;
	width: 50vw;
}

/* footer */

.footer {
	/* border: var(--border); */
	background-color: var(--main-background);
	color: whitesmoke;
	display: flex;
	justify-content: center;
}

.contact-info-container {
	width: 80vw;
	display: flex;
	justify-content: center;
	border-top: 1px solid whitesmoke;
}

a {
	color: whitesmoke;
}

.contact-info-container > p {
	font-size: 20px;
	font-weight: 700;
	padding: 20px;
}
